.new-tag-container{
    background-color: rgb(255, 255, 255);
}

.loading-new-tag{
    width: 85%;
}

.creating-new-tag{
    width: 100%;
}

.div-new-tag-top{
    font-weight: bold;
    font-size: 17px;
    line-height: 60px;
    height: 60px;
    padding-left: 20px;
    border-bottom: 1px solid #e8e8e8;
}

.div-new-tag-input{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
}

.input-new-tag-name-msg{
    height: 30px;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    width: 85%;
}

.text-new-tag-name-msg{
    text-align: right;
    padding-right: 30px;
    line-height: 40px;
    width: 15%;
}

.text-new-tag-source{
    text-align: right;
    padding-right: 30px;
    line-height: 40px;
    width: 15%;
}

.select-new-tag{
    width: 100%;
}

.div-new-tag-submit{
    height: 80px;
    background-color: #fbfbfb;
    border-top: 1px solid #e8e8e8;
}

.btn-new-tag-add{
    margin-top: 20px;
    float: left;
    background-color: #31af64;
    border-color: #2faa60;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 2px;
    margin-left: 20px;
    font-size: 13px;
}

.btn-new-tag-cancel{
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    background-color: rgb(255, 255, 255);
    border-color: #e2e2e2;
    color: black;
    width: 60px;
    height: 40px;
    border-radius: 2px;
    margin-left: 15px;
    font-size: 13px;
}
