{"swagger":"2.0","info":{"description":"NJU Q&A is a good job","version":"1.0.0","title":"NJU Q&A","termsOfService":"https://github.com/clsaa/njuqa-server"},"host":"njuqa.clsaa.com","basePath":"/","tags":[{"name":"answer-controller","description":"Answer Controller"},{"name":"comment-controller","description":"Comment Controller"},{"name":"question-attention-controller","description":"Question Attention Controller"},{"name":"question-controller","description":"Question Controller"},{"name":"user-attention-controller","description":"User Attention Controller"},{"name":"user-controller","description":"User Controller"}],"paths":{"/comment/addComment":{"post":{"tags":["comment-controller"],"summary":"addComment","operationId":"addCommentUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"answerId","in":"query","description":"answerId","required":true,"type":"string"},{"name":"content","in":"query","description":"content","required":true,"type":"string"},{"name":"userId","in":"query","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Comment"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["comment-controller"],"summary":"deleteComment","operationId":"deleteCommentUsingDELETE","produces":["*/*"],"parameters":[{"name":"answerId","in":"query","description":"answerId","required":true,"type":"string"},{"name":"userId","in":"query","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/comment/getAllByUserId":{"get":{"tags":["comment-controller"],"summary":"getCommentsByUserId","operationId":"getCommentsByUserIdUsingGET","produces":["*/*"],"parameters":[{"name":"userId","in":"query","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Comment"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/question":{"post":{"tags":["question-controller"],"summary":"addQuestionV1","operationId":"addQuestionV1UsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"questionDtoV1","description":"questionDtoV1","required":true,"schema":{"$ref":"#/definitions/QuestionDtoV1"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/QuestionV1"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/question/answer":{"post":{"tags":["answer-controller"],"summary":"addAnswerV1","operationId":"addAnswerV1UsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"answerDtoV1","description":"answerDtoV1","required":true,"schema":{"$ref":"#/definitions/AnswerDtoV1"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AnswerV1"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/question/answer/attention/":{"get":{"tags":["answer-controller"],"summary":"findAnswersByAttentionUsersV1","operationId":"findAnswersByAttentionUsersV1UsingGET","produces":["*/*"],"parameters":[{"name":"userId","in":"query","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AnswerV1"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/question/attention":{"post":{"tags":["question-attention-controller"],"summary":"addQuestionAttentionV1","operationId":"addQuestionAttentionV1UsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"questionAttentionDtoV1","description":"questionAttentionDtoV1","required":true,"schema":{"$ref":"#/definitions/QuestionAttentionDtoV1"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/QuestionAttentionV1"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/question/{questionId}/answer/all/":{"get":{"tags":["answer-controller"],"summary":"findAnswersByQuestionIdV1","operationId":"findAnswersByQuestionIdV1UsingGET","produces":["*/*"],"parameters":[{"name":"questionId","in":"path","description":"questionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/AnswerV1"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/question/{questionId}/answer/{answerId}":{"put":{"tags":["answer-controller"],"summary":"updateAnswerByIdV1","operationId":"updateAnswerByIdV1UsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"answerDtoV1","description":"answerDtoV1","required":true,"schema":{"$ref":"#/definitions/AnswerDtoV1"}},{"name":"answerId","in":"path","description":"answerId","required":true,"type":"string"},{"name":"questionId","in":"path","description":"questionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AnswerV1"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["answer-controller"],"summary":"deleteAnswerByIdV1","operationId":"deleteAnswerByIdV1UsingDELETE","produces":["*/*"],"parameters":[{"name":"answerId","in":"path","description":"answerId","required":true,"type":"string"},{"name":"questionId","in":"path","description":"questionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/v1/question/{questionId}/close/statue/{closeStatus}":{"put":{"tags":["question-controller"],"summary":"updateQuestionCloseStatueById","operationId":"updateQuestionCloseStatueByIdUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"closeStatus","in":"path","description":"closeStatus","required":true,"type":"string"},{"name":"questionId","in":"path","description":"questionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/QuestionV1"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/question/{questionId}/delete/statue/{deleteStatus}":{"put":{"tags":["question-controller"],"summary":"updateQuestionDeleteStatueById","operationId":"updateQuestionDeleteStatueByIdUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"deleteStatus","in":"path","description":"deleteStatus","required":true,"type":"string"},{"name":"questionId","in":"path","description":"questionId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/QuestionV1"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/question/{questionId}/user/{userId}":{"delete":{"tags":["question-attention-controller"],"summary":"deleteQuestionAttentionById","operationId":"deleteQuestionAttentionByIdUsingDELETE","produces":["*/*"],"parameters":[{"name":"questionId","in":"path","description":"questionId","required":true,"type":"string"},{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/v1/question/{userId}/":{"get":{"tags":["question-controller"],"summary":"findQuestionsByUserId","operationId":"findQuestionsByUserIdUsingGET_1","produces":["*/*"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/QuestionV1"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/user":{"post":{"tags":["user-controller"],"summary":"addUserV1","operationId":"addUserV1UsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"userDtoV1","description":"userDtoV1","required":true,"schema":{"$ref":"#/definitions/UserDtoV1"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserV1"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/user/attention":{"post":{"tags":["user-attention-controller"],"summary":"addUserAttentionV1","operationId":"addUserAttentionV1UsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"userAttentionDtoV1","description":"userAttentionDtoV1","required":true,"schema":{"$ref":"#/definitions/UserAttentionDtoV1"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserAttentionV1"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/user/attention/source/{sourceUser}/target/{targetUser}":{"delete":{"tags":["user-attention-controller"],"summary":"deleteUserAttentionBySourceAndTargetUserV1","operationId":"deleteUserAttentionBySourceAndTargetUserV1UsingDELETE","produces":["*/*"],"parameters":[{"name":"sourceUser","in":"path","description":"sourceUser","required":true,"type":"string"},{"name":"targetUser","in":"path","description":"targetUser","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/v1/user/byCode":{"get":{"tags":["user-controller"],"summary":"根据code查询用户信息","description":"若用户已注册则返回用户全部信息，否则只返回用户openid","operationId":"findUserByCodeV1UsingGET","produces":["*/*"],"parameters":[{"name":"code","in":"query","description":"微信小程序登录获取的code","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserV1"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/user/pagination":{"get":{"tags":["user-controller"],"summary":"getUserPaginationV1","operationId":"getUserPaginationV1UsingGET","produces":["*/*"],"parameters":[{"name":"pageNo","in":"query","description":"pageNo","required":false,"type":"integer","default":1,"format":"int32"},{"name":"pageSize","in":"query","description":"pageSize","required":false,"type":"integer","default":10,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Pagination«UserV1»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/user/{id}":{"get":{"tags":["user-controller"],"summary":"findUserByIdV1","operationId":"findUserByIdV1UsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserV1"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["user-controller"],"summary":"updateUserByIdV1","operationId":"updateUserByIdV1UsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"},{"in":"body","name":"userDtoV1","description":"userDtoV1","required":true,"schema":{"$ref":"#/definitions/UserDtoV1"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserV1"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["user-controller"],"summary":"deleteUserByIdV1","operationId":"deleteUserByIdV1UsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/v1/user/{userId}/answer/question/all/":{"get":{"tags":["question-controller"],"summary":"findQuestionsByUserIdWithAnswer","operationId":"findQuestionsByUserIdWithAnswerUsingGET","produces":["*/*"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/QuestionV1"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/user/{userId}/question/all/":{"get":{"tags":["question-attention-controller"],"summary":"findQuestionsByUserId","operationId":"findQuestionsByUserIdUsingGET","produces":["*/*"],"parameters":[{"name":"userId","in":"path","description":"userId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/QuestionV1"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}}},"definitions":{"AnswerDtoV1":{"type":"object","properties":{"content":{"type":"string"},"questionId":{"type":"string"},"type":{"type":"string"},"userId":{"type":"string"}},"title":"AnswerDtoV1"},"AnswerV1":{"type":"object","properties":{"content":{"type":"string"},"ctime":{"$ref":"#/definitions/Timestamp"},"id":{"type":"string"},"mtime":{"$ref":"#/definitions/Timestamp"},"questionId":{"type":"string"},"type":{"type":"string"},"userId":{"type":"string"},"userV1":{"$ref":"#/definitions/UserV1"}},"title":"AnswerV1"},"Comment":{"type":"object","properties":{"answerId":{"type":"string"},"content":{"type":"string"},"ctime":{"$ref":"#/definitions/Timestamp"},"id":{"type":"string"},"mtime":{"$ref":"#/definitions/Timestamp"},"userId":{"type":"string"}},"title":"Comment"},"Pagination«UserV1»":{"type":"object","properties":{"firstPage":{"type":"boolean"},"lastPage":{"type":"boolean"},"nextPage":{"type":"integer","format":"int32"},"pageList":{"type":"array","items":{"$ref":"#/definitions/UserV1"}},"pageNo":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"prePage":{"type":"integer","format":"int32"},"rowOffset":{"type":"integer","format":"int32"},"totalCount":{"type":"integer","format":"int32"},"totalPage":{"type":"integer","format":"int32"}},"title":"Pagination«UserV1»"},"QuestionAttentionDtoV1":{"type":"object","properties":{"questionId":{"type":"string"},"userId":{"type":"string"}},"title":"QuestionAttentionDtoV1"},"QuestionAttentionV1":{"type":"object","properties":{"ctime":{"$ref":"#/definitions/Timestamp"},"id":{"type":"string"},"mtime":{"$ref":"#/definitions/Timestamp"},"questionId":{"type":"string"},"userId":{"type":"string"}},"title":"QuestionAttentionV1"},"QuestionDtoV1":{"type":"object","properties":{"content":{"type":"string"},"userId":{"type":"string"}},"title":"QuestionDtoV1"},"QuestionV1":{"type":"object","properties":{"closeStatus":{"type":"string"},"content":{"type":"string"},"ctime":{"$ref":"#/definitions/Timestamp"},"deleteStatus":{"type":"string"},"id":{"type":"string"},"mtime":{"$ref":"#/definitions/Timestamp"},"userId":{"type":"string"}},"title":"QuestionV1"},"Timestamp":{"type":"object","properties":{"date":{"type":"integer","format":"int32"},"day":{"type":"integer","format":"int32"},"hours":{"type":"integer","format":"int32"},"minutes":{"type":"integer","format":"int32"},"month":{"type":"integer","format":"int32"},"nanos":{"type":"integer","format":"int32"},"seconds":{"type":"integer","format":"int32"},"time":{"type":"integer","format":"int64"},"timezoneOffset":{"type":"integer","format":"int32"},"year":{"type":"integer","format":"int32"}},"title":"Timestamp"},"UserAttentionDtoV1":{"type":"object","properties":{"sourceUser":{"type":"string"},"targetUser":{"type":"string"}},"title":"UserAttentionDtoV1"},"UserAttentionV1":{"type":"object","properties":{"ctime":{"$ref":"#/definitions/Timestamp"},"id":{"type":"string"},"mtime":{"$ref":"#/definitions/Timestamp"},"sourceUser":{"type":"string"},"targetUser":{"type":"string"}},"title":"UserAttentionV1"},"UserDtoV1":{"type":"object","properties":{"avatarUrl":{"type":"string"},"nickname":{"type":"string"},"openId":{"type":"string"}},"title":"UserDtoV1"},"UserV1":{"type":"object","properties":{"avatarUrl":{"type":"string"},"ctime":{"$ref":"#/definitions/Timestamp"},"id":{"type":"string"},"identity":{"type":"string"},"mtime":{"$ref":"#/definitions/Timestamp"},"nickname":{"type":"string"},"openId":{"type":"string"}},"title":"UserV1"}}}