.login-body {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #001529 !important;
  .header-content {
    width: 100%;
    height: 62px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .login-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    .left {
      flex-grow: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 600px;
      .img {
        width: 500px;
      }
    }
    .right {
      flex-grow: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      .my-loading {
        .form {
          width: 450px;
          padding: 20px;
          background: white;
          border-radius: 5px;
          .title {
            height: 50px;
            font-size: 20px;
          }
          .form-body {
            .submit {
              .login-form-button {
                width: 250px;
                height: 35px;
                margin-left: 100px;
              }
              .register-content {
                margin-top: 15px;
                cursor: pointer;
                text-align: right;
                span {
                  text-align: right;
                  margin-left: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
