.title{
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0,.85);
}


.select{
  margin-left: 10px;
}

.headRow{
  margin-bottom: 10px;
}

.button{
  margin-left: 10px;
}