.container{
    background-color: rgb(255, 255, 255);
    height: 600px;
    position: relative;
    padding-top: 1px;
    font-weight: bold;

}

.btn img{
    width: 12px;
    height: 12px;
    margin-right: 5px;
    vertical-align: middle;
}



.btn{
    /*display: inline-flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    text-align: center;
    position: absolute;
    border: 1px solid #dce0e5;
    color: #555555;
    border-radius: 1px;
    background-color: #f0f2f5
}


.btn:hover{
    background-color: #d1d1d1;
}

.btn_public{
    top:8px;
    left: 8px;
    height: 45px;
    width:95px;
}

.btn_edit{
    top:8px;
    right: 8px;
    height: 45px;
    width: 45px;
}

.btn_star{
    left: 15px;
    height: 45px;
    width: 60px;
}

.btn_branch{
    left: 75px;
    height: 45px;
    width: 60px;
    border-left:none;
}

.btn_ssh{
    left: 150px;
    height: 45px;
    width: 80px;
}

.btn_http{
    left: 230px;
    height: 45px;
    width: 100px;
    border-left:none;
}



.input_url{
    position: absolute;
    left: 330px;
    height: 45px;
    width: 300px;
    border-left: none;
    border-right: none;
    border-top:1px solid #e2e2e2;
    border-bottom:1px solid #e2e2e2;
}

.btn_copy{
    left:630px;
    height: 45px;
    width:60px;
}

.btn_download{
    padding-left: 12px;
    left:705px;
    height: 45px;
    width:50px;
}

.project_avatar{
    text-align: center;
    line-height: 90px;
    font-size: 40px;
    height: 90px;
    width: 90px;
    margin: 50px auto 0 auto;
    background-color: #E0F2F1;
    color: #555;
    border-radius: 50%;

}


.text_title{
    text-align: center;
    font-size: 30px;
}
.text_description{
    text-align: center;
    color: #7a7a7a;
}


.div1{
    position: relative;
    top:15px;
    left:200px;
}

.div2{
    margin-top: 115px;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    line-height: 80px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.div2 span{
    display: inline-block;
    width:120px
}
