.commit-list-container{
    background-color: rgb(255, 255, 255);
    min-height: 300px;
    position: relative;
}

.div-commit-list-top{
    /*display: flex;*/
    /*align-items:center ;*/
    height: 80px;
    padding-left: 20px;
    background-color: #f7f8fa;
    border-top: 1px solid #dce0e6;
    border-bottom: 1px solid #dce0e6;
    color: #7f8fa4;

}

.select-branch{
    float: left;
    margin: 20px 0 auto 10px;
}


.input-commit-msg-right{
    width:350px;
    height: 40px;
    padding: 15px;
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}

.div-commit-date{
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    padding-left: 15px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #f1f1f1;
}

.div-commit-item{
    height: 60px;
    padding-left: 5px;
    border-bottom: 1px solid #f1f1f1;
}

.div-commit-item-avatar{
    float: left;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #cfeeec;
    line-height: 50px;
    margin-top: 5px;
    text-align: center;
    margin-right: 15px;
}

.div-commit-item-content{
    float: left;
    height: 50px;
    margin-top: 5px;
}

.div-commit-item-content-up{
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    font-size: 14px;
}
.div-commit-item-content-down{
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #848484;
}

.div-commit-operation{
    float: right;
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid #e4e4e4;
    overflow: hidden;

}

.text-commit-short-id{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 70px;
    background-color: #f8f8f8;
    text-align: center;
    border-right: 1px solid #e4e4e4;
}

.btn-commit-copy-sha{
    height: 30px;
    width: 30px;
    background-color: white;
    border:0;
    border-right: 1px solid #e4e4e4;
    text-align: center;
}

.btn-commit-browse-file{
    height: 30px;
    width: 30px;
    background-color: white;
    border:0;
    text-align: center;
}

.btn-commit-copy-sha img{
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

.btn-commit-browse-file img{
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

