.pipeline-bind-form {
  width: 30%;
  text-align: center;
  align-items: center;



}

.pipeline-bind-form-loading {
  text-align: center;
  align-items: center;
  width: 100%;


}

.pipeline-bind-text {
  text-align: left;
  //margin-left: 4.5%;
  padding: 8px;
  //width: 200%;

}

.pipeline-bind-form-item {
  //  text-align: center;
  //  align-items: center;
  width: 150%;


}