.file-list-container{
    background-color: rgb(255, 255, 255);
    min-height: 600px;
}

.div-file-list-top{
    display: flex;
    align-items:center ;
    height: 80px;
    padding-left: 20px;
    position: relative;
    background-color: #fbfbfb;
    border-bottom: 1px solid #cfcfcf;
}

.div-file-list-top a{
    color: black;
}

.text-file-list-separator{

    margin: 0 20px;

}

.input-file-list-search{

    width: 400px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #e3e3e3;
    padding-left: 15px;

}

.div-file-list-item{

    height: 45px;
    line-height: 45px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cfcfcf;

 }

.div-file-list-item:hover{
    background-color: #edfdff;
}

.div-file-list-item img{

    width: 15px;
    height: 15px;
    margin: 7px;

}

.div-file-list-item a{
    color: black;
}

.select-ref-file-list{
    width:200px;
}

.loading-ref-file-list{
    margin-right:20px;
}
