.body {
  padding: 30px;
  .my-loading {
    display: block;
    height: 500px;
    .operate {
      padding: 10px 0;
      .button {
        margin-right: 20px;
      }
    }
    .iframe {
      margin-top: 50px;
    }
  }


}
