
.form-container {
  width: 100%;

  .form {
    padding: 20px;
    background: #FFF;
    margin: 20px;
    width: 90%;
    text-align: left;

    .form-loading {
      width: 90%;

      .form-item-input {
        width: 135%
      }

      .form-item-select {
        width: 135%
      }
    }


  }
}