.commit-container{
    background-color: rgb(255, 255, 255);
}

.loading-diff{
    width: 100%;
    height: 80px;
}

.div-diff-author{
    padding-left: 15px;
    height: 60px;
    line-height: 60px;
    border-bottom:1px solid #e1e1e1;
    font-size: 15px;
}

.div-diff-msg{
    padding-left: 15px;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    margin-top: 20px;

}

.text-diff-time{
    margin: 0 5px;
    color: #8c8c8c;
}

.text-diff-blue{
    margin: 0 5px;
    color:#007bff;
}

.text-diff-red{
    margin: 0 5px;
    color:#dc3545;
}

.text-diff-green{
    margin: 0 5px;
    color:#28a745;
}

.div-diff-stat{
    padding-left: 15px;
    line-height: 60px;
    border-bottom:1px solid #e1e1e1;
    font-size: 15px;
}

.div-diff-avatar{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: #cfeeec;
    text-align: center;
    margin: 0 5px;
}

.img-diff-copy-sha{
    width: 12px;
    height: 12px;
    margin: 0 5px;
}

.btn-diff-browse-file{
    float: right;
    border: 1px solid #d6d6d6;
    height: 30px;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 5px;
    line-height: 30px;
    font-size: 12px;
    width: 70px;
    text-align: center;
}

.btn-diff-browse-file:hover{
    background-color: #e8e8e8;
}



.div-diff-file{
    border-bottom:1px solid #e1e1e1;
}

.div-diff-file-title{
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: #fafafa;
    border-bottom: 1px solid #e5e5e5;


}

.text-diff-file-name{
    font-weight: bold;
    font-size: 15px;
}

.text-diff-file-change{
    font-size: 12px;
}

.img-diff-file-title{
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

